In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [2]:
data = [
    ['good'],['bad'],['excellent'],['average'],
    ['good'],['average'],['bad']
]

In [3]:
data = pd.DataFrame(data,columns=['reviews'])
data

     reviews
0       good
1        bad
2  excellent
3    average
4       good
5    average
6        bad

In [4]:
categories = [['bad','average','good','excellent']]
categories

[['bad', 'average', 'good', 'excellent']]

In [5]:
encoder = OrdinalEncoder(categories=categories)

In [6]:
encoded_data = encoder.fit_transform(data)
encoded_data

array([[2.],
       [0.],
       [3.],
       [1.],
       [2.],
       [1.],
       [0.]])

In [7]:
decoded_data = encoder.inverse_transform(encoded_data)
decoded_data

array([['good'],
       ['bad'],
       ['excellent'],
       ['average'],
       ['good'],
       ['average'],
       ['bad']], dtype=object)