In [1]:
import pandas as pd
import category_encoders as ce

In [2]:
data = {
    'category':['A','B','C','A','b','C']
}
df = pd.DataFrame(data)

In [3]:
df

  category
0        A
1        B
2        C
3        A
4        b
5        C

In [4]:
df.shape

(6, 1)

In [5]:
encoder = ce.BinaryEncoder(cols=['category'],return_df=True)

In [6]:
df_binary = encoder.fit_transform(df)
df_binary

   category_0  category_1  category_2
0           0           0           1
1           0           1           0
2           0           1           1
3           0           0           1
4           1           0           0
5           0           1           1