In [1]:
def min_max_scaling(data):
    min_val = min(data)
    max_val = max(data)
    scaled_data = [(x-min_val)/(max_val-min_val) for x in data]
    return scaled_data

In [11]:
data = [1,23,45,19,64,9,2]

In [12]:
scaled_data = min_max_scaling(data)

In [13]:
scaled_data

[0.0,
 0.3492063492063492,
 0.6984126984126984,
 0.2857142857142857,
 1.0,
 0.12698412698412698,
 0.015873015873015872]

In [5]:
import pandas as pd

In [8]:
df1 = pd.DataFrame(data,columns=['C1'])
df1

   C1
0   1
1  23
2  45
3  19
4  64
5   9
6   2

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [15]:
data = {
    'Feature1':[1,2,4,5,2,3],
    'Feature2':[5,3,1,8,4,2]
}

In [16]:
df = pd.DataFrame(data)

In [17]:
df

   Feature1  Feature2
0         1         5
1         2         3
2         4         1
3         5         8
4         2         4
5         3         2

In [22]:
minMax = MinMaxScaler()
scaled_data = minMax.fit_transform(df)
scaled_data = pd.DataFrame(scaled_data,columns=df.columns)

In [23]:
scaled_data

   Feature1  Feature2
0      0.00  0.571429
1      0.25  0.285714
2      0.75  0.000000
3      1.00  1.000000
4      0.25  0.428571
5      0.50  0.142857