In [1]:
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

In [2]:
x,y = make_classification(n_samples=500,n_features=10,n_classes=2,random_state=1)

In [3]:
x

array([[ 2.65731511,  0.09038025, -0.46469447, ...,  0.78586532,
         0.52371053,  0.27530828],
       [ 0.79449557, -1.53042074,  0.19038724, ...,  1.32718148,
        -0.80439368, -0.79470265],
       [-0.71322934, -0.0342108 , -0.8635266 , ..., -1.3989042 ,
         0.90465955, -0.28149932],
       ...,
       [ 0.62503654,  1.28712693,  0.11537031, ...,  0.23781178,
         0.07658275, -1.5264277 ],
       [ 0.91225624,  0.36792269, -1.03044598, ..., -1.25859079,
         1.52451264,  0.59173419],
       [ 0.7843622 , -0.00758708, -1.25067806, ..., -1.29817655,
         1.50085794,  0.33288726]], shape=(500, 10))

In [4]:
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9
0,2.657315,0.090380,-0.464694,0.340355,0.759932,-1.154515,-1.466823,0.785865,0.523711,0.275308
1,0.794496,-1.530421,0.190387,-2.172123,-0.532832,-1.607833,-0.305054,1.327181,-0.804394,-0.794703
2,-0.713229,-0.034211,-0.863527,0.580178,0.296370,1.683224,0.000008,-1.398904,0.904660,-0.281499
3,1.155304,0.648795,-1.343429,-0.072821,1.143814,0.791328,-0.509537,-0.777040,1.211968,-0.118629
4,-0.684987,1.633276,-0.520361,-0.623280,-0.847453,-1.342548,0.784905,1.216191,-1.383281,0.258742
...,...,...,...,...,...,...,...,...,...,...
495,1.088061,-1.045509,-1.087603,-0.792266,-0.206058,0.794566,-0.683158,-0.774455,1.178945,0.237884
496,1.691693,-1.343059,1.430590,1.559346,0.379855,0.058988,-1.287548,-0.186507,0.937677,-0.093361
497,0.625037,1.287127,0.115370,-3.064141,0.067393,-0.332788,0.485178,0.237812,0.076583,-1.526428
498,0.912256,0.367923,-1.030446,-1.653670,-0.049709,1.370523,0.079790,-1.258591,1.524513,0.591734
499,0.784362,-0.007587,-1.250678,1.053476,0.832332,1.428126,-0.731333,-1.298177,1.500858,0.332887

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,random_state=1)

In [6]:
x_train

array([[-1.3475396 ,  0.16508508, -0.77189048, ..., -0.29685897,
        -0.35501881,  0.23311264],
       [ 1.30682411,  1.59084434,  0.89121282, ..., -0.86475571,
         1.35843116, -0.76568089],
       [-0.02463411,  0.77949187,  0.64409999, ...,  1.25175841,
        -1.11260729, -1.08630091],
       ...,
       [-0.35986305,  0.2180785 , -1.07137988, ...,  1.16552883,
        -1.19003367, -0.31781557],
       [-0.88374663, -0.95821282,  0.25377481, ..., -1.56210423,
         0.97027431, -0.88302173],
       [ 2.51180223,  0.07497342,  0.36409425, ...,  1.81536472,
        -0.44862094,  1.47200161]], shape=(350, 10))

In [7]:
pd.DataFrame(x_train)

,0,1,2,3,4,5,6,7,8,9
0,-1.347540,0.165085,-0.771890,-1.802722,0.684819,0.467941,1.177454,-0.296859,-0.355019,0.233113
1,1.306824,1.590844,0.891213,-0.158708,-0.398818,0.878703,-0.699943,-0.864756,1.358431,-0.765681
2,-0.024634,0.779492,0.644100,-0.539033,-0.646491,-1.444803,-1.448992,1.251758,-1.112607,-1.086301
3,0.894030,-0.069843,-2.586910,0.614554,0.622981,0.891297,0.951773,-0.842591,1.150166,0.290029
4,-0.157302,0.554458,-0.004103,1.301202,-0.376086,-0.039317,0.064656,0.046608,-0.112938,0.532759
...,...,...,...,...,...,...,...,...,...,...
345,-2.808713,-0.125254,0.546569,1.740675,0.990986,1.870919,1.266867,-1.393445,-0.058372,-0.412994
346,1.481728,0.792441,0.687266,-1.750758,1.992205,-0.661719,0.140887,0.453735,0.278356,-1.267107
347,-0.359863,0.218078,-1.071380,-0.223575,-2.539955,-1.314082,-0.889962,1.165529,-1.190034,-0.317816
348,-0.883747,-0.958213,0.253775,0.475177,1.298572,1.887677,-1.896278,-1.562104,0.970274,-0.883022
349,2.511802,0.074973,0.364094,-2.015498,0.150925,-2.331187,0.569751,1.815365,-0.448621,1.472002

In [8]:
x_train.shape

(350, 10)

In [9]:
x_test.shape

(150, 10)

In [10]:
y_train.shape

(350,)