In [1]:
import pandas as pd

In [2]:
data = {
    'Feature1':[1,4,23,12,8],
    'Feature2':[8,34,12,9,5]
}

In [3]:
df = pd.DataFrame(data)
df

   Feature1  Feature2
0         1         8
1         4        34
2        23        12
3        12         9
4         8         5

In [15]:
def standardize_data(data):
    mean = data.mean()
    std_dev = data.std(ddof=0)
    standardized_data = (data-mean)/std_dev

    return standardized_data

In [17]:
standardized_df_data = df.apply(standardize_data)
standardized_df_data

   Feature1  Feature2
0 -1.123056 -0.536284
1 -0.731292  1.953607
2  1.749878 -0.153224
3  0.313411 -0.440519
4 -0.208941 -0.823580

In [18]:
standardized_df_data['Feature1'].mean() + 1

np.float64(1.0)

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
scaler = StandardScaler()

In [21]:
standardized_data = scaler.fit_transform(df)
standardize_df = pd.DataFrame(standardized_data,columns=df.columns)
print(standardize_df)
print(standardized_df_data)

   Feature1  Feature2
0 -1.123056 -0.536284
1 -0.731292  1.953607
2  1.749878 -0.153224
3  0.313411 -0.440519
4 -0.208941 -0.823580
   Feature1  Feature2
0 -1.123056 -0.536284
1 -0.731292  1.953607
2  1.749878 -0.153224
3  0.313411 -0.440519
4 -0.208941 -0.823580